.principalContent{
    height: min(100vh);
}

.principalContent ul li article{
    background-color: white;
}

.todoList{
    list-style: none;
}

.todoList li article{
    display: grid;
    grid-template-columns: 80% 20%;
    margin-bottom: 20px;
    padding: 10px;
}

.addContent{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.addContent img{
    width: 25px;
    height: 25px;
    
}


