.todoCardOptions{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.toDoCardInfo input{
    display: block;
    border: none;
    border-bottom: 2px solid black;
    background-color: white;
    outline: none;
    margin-bottom: 10px;
        
    
}

.todoCardOptions img{
    width: 25px;
    height: 25px;
    right: 0%;
}

.waiting{
    border: 5px solid red;
    border-radius: 20px;
}

.completed{
    border: 5px solid green;
    border-radius: 20px;
}